body {
    background: #292c34;
    color: #acb2bf;
    font-family: monospace;
    font-size: 20px;
    line-height: 40px;
}

#main, header {
    padding: 0 250px; 
    margin: 0 auto;
}

header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h3 {
    margin: 0;
}

#navbar {
    display: flex;
    gap: 50px;
    padding: 0;
}

#navbar button {
    background: none; 
    color: inherit; 
    border: none; 
    padding: 10px; 
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
}

#navbar button:nth-child(1):hover {
    color: #bc4134; 
}

#navbar button:nth-child(2):hover {
    color: #cb7c44; 
}

#navbar button:nth-child(3):hover {
    color: #9bc379; 
}

#navbar button:nth-child(4):hover {
    color: #4093ee; 
}


.section {
    margin: 200px 0;
}

.section p, ul, div{
    margin-left: 75px;
}

h1 {
    font-size: 60px;
}

.red { color: #bc4134; }
.orange { color: #cb7c44; }
.green { color: #9bc379; }
.blue { color: #4093ee; }
.yellow { color: #f9c928; }

h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

#introduction {
    text-align: center; 
    margin-top: 300px;
    margin-bottom: 300px;
}

#introduction button {
    background: none; 
    color:#4093ee; 
    border: none; 
    padding: 10px; 
    cursor: pointer;
    font-size: 30px;
    font-family: inherit;
    margin-top: 120px; 
}

.skills {
    margin-bottom: 100px;
}

.skills div {
    display: inline-block;
    margin: 10px 20px 0 0;
    padding: 0 10px;
}

a {
    color: aliceblue;
}

