.section {
    padding: 0 250px;
    padding-top: 50px;
    margin: 170px 0;
    background-color: #292c34;
  }

  /* Apply margin-left only to p, ul, div, and a within .section that need it */
.section p, .section ul, .section div, .section a {
    margin-left: 75px; /* Or adjust as necessary */
  }

  .blue{ color: #4093ee; }