.section {
    padding: 0 250px;
    padding-top: 190px;
    margin: 180px 0;
    background-color: #292c34;
    line-height: 2.2em;
  }

.section p, .section ul, .section div, .section a {
    margin-left: 75px; 
    margin-top: 40px;
  }

  .blue{ color: #4093ee; }