.skills {
    width: 800px;
    display: inline-table;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.skills div {
    display: inline-block;
    margin: 10px 20px 0 0;
    padding: 0 15px;
    width: 200px;
    color:#000000 ;
    text-align: center;
}

h2 {
    margin-bottom: 0px;
}

.skills h3 {
    font-size: 30px;
    margin-top: 0px;
}

.skills img {
    height: 100px;
    width: auto;
    transition: transform 0.2s ease-in-out;
    margin: 0px 20px;
}

.skills img:hover {
    transform: scale(1.2);
}

.skills p {
    margin-top: 0;
}









.otherSkills p {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    text-align: center;
}

.otherSkills {
    margin-bottom: 80px;
    display: inline-table;
    padding: 0px;
    margin-bottom: 20px;
}

.otherSkills div {
    display: inline-table;
    margin: 10px 20px 0 0;
    padding: 0 15px;
    width: 200px;
    color:#000000 ;
    text-align: center;
}

.otherSkills h2 {
    margin-bottom: 0px;
}

.otherSkills h3 {
    font-size: 30px;
    
}

.otherSkills img {
    height: 100px;
    width: auto;
    transition: transform 0.2s ease-in-out;
    margin: 0px 20px;
}
.otherSkills img:hover {
    transform: scale(1.2);
}

.otherSkills p {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    text-align: center;
}

