.introduction {
    margin-top: 180px;
    margin-bottom: 141px;
    text-align: center;
}
  
.introduction button {
    display: none;
}

.arrow {
    display: none;
}

.hide {
    color: white;
}



.hidden {
    opacity:0;
}

.console_container {
    color: black;
    text-align:center;
    margin-top: 30px;
}

.console-underscore {
    display: inline-block;
    width: 10px;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}