:root {
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #292c34;
  color: #acb2bf;
  font-family: monospace;
  font-size: 25px;
  line-height: 40px;
  overflow-x: hidden;
}

#main {
  padding: 0 250px; 
  margin: 0 auto;
}

.section {
  padding: 0 250px;
  padding-top: 50px;
  margin: 170px 0;
}

.section p, .section div {
  margin-left: 75px; 
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
  margin-bottom: 50px;
  text-transform: lowercase;
}

.red { color: #bc4134; }
.orange { color: #cb7c44; }
.green { color: #9bc379; }
.blue { color: #4093ee; }
.yellow { color: #f9c928; }
.pink { color: #c278dd;}


#themeButton {
  position: absolute;
  top: 36px;
  left: 50px;
  border: none;
  outline: none;
  padding: 8px;
  background-color: #27292e;
  color: #acb2bf;
}

#themeButton:hover {
  background-color: #393b41;
}

#skills {
  margin-top: 120px;
}

#projects .section {
  margin-bottom: 50px;
}

#catalogue {
  margin-top: 10px;
  padding: 10px 10px 0px 10px;
  width: fit-content;
  margin-left: 0;
}

#contact {
  margin-top: 120px;
}

footer {
  text-align: center;
  font-size: 20px;
}